<div class="property-details-page">
	<a href="#/home" class="btn btn-default pull-right"> <i class="fa fa-angle-double-left"></i>
		Go back
	</a>
	<h1>Property details</h1>
	<hr/>
	<div class="well">
		<h3>
			<dl class="dl-horizontal">
				<dt>Name</dt>
				<dd>
					{{propertyDetails.data.name}}( <em>{{propertyDetails.data.id}}</em>
					)
				</dd>
				<dt>Decription</dt>
				<dd>{{propertyDetails.data.desc}}</dd>
				<dt>Cost to Work</dt>
				<dd>{{propertyDetails.data.costToWork}}</dd>
			</dl>
		</h3>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading"> <i class="fa fa-stethoscope"></i>
					Health care services
				</div>
				<div class="panel-body">
					<ul>
						<li ng-repeat="hc in propertyDetails.data.healthCareServices">{{hc}}</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-shopping-cart"></i>
					Shopping
				</div>
				<div class="panel-body">
					<ul>
						<li ng-repeat="s in propertyDetails.data.shopping">{{s}}</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-book"></i>
					Schools
				</div>
				<div class="panel-body">
					<ul>
						<li ng-repeat="ss in propertyDetails.data.schools">{{ss}}</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-unlock"></i>
					Crime
				</div>
				<div class="panel-body">
					<ul>
						<li ng-repeat="c in propertyDetails.data.crime">{{c.name}} : {{c.rate}}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<button class="btn btn-large btn-primary" onclick="doApply()">
				<i class="fa fa-pencil-square-o"></i>
				Apply for this property
			</button>
		</div>
	</div>
</div>