<h1>Register Page</h1>
<a href = "#/login">Goto Login Page</a>

<form class="form-horizontal">
<div class="col-xs-12 col-md-6">
  <div class="form-group">
    <label for="pn" class="col-sm-2 control-label">Phone#</label>
    <div class="col-sm-10">
      <input ng-model='phone' type="text" class="form-control" id="pn" placeholder="format: 123-456-7777">
    </div>
  </div>
    <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input ng-model='email' type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input ng-model='password' type="password" class="form-control" id="inputPassword3" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">SSN</label>
    <div class="col-sm-10">
      <input ng-model='ssn' type="password" class="form-control" id="inputPassword3" placeholder="format: 123-45-6789">
    </div>
  </div>
  <div class="form-group">
    <label for="mi" class="col-sm-2 control-label">Monthly income</label>
    <div class="col-sm-10">
      <input ng-model='income' type="text" class="form-control" id="mi" placeholder="Income in USD per month">
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-6">
  <div class="form-group">
    <label for="fn" class="col-sm-2 control-label">First Name</label>
    <div class="col-sm-10">
      <input ng-model="fname" type="text" class="form-control" id="fn" placeholder="First Name">
    </div>
  </div>
  <div class="form-group">
    <label for="ln" class="col-sm-2 control-label">Last Name</label>
    <div class="col-sm-10">
      <input ng-model='lname' type="text" class="form-control" id="ln" placeholder="Last Name">
    </div>
  </div>
  <div class="form-group">
    <label for="dob" class="col-sm-2 control-label">Date of birth</label>
    <div class="col-sm-10">
      <input ng-model='dob' type="text" class="form-control" id="dob" placeholder="format: MM-DD-YYYY">
    </div>
  </div>
  <div class="form-group">
    <label for="address" class="col-sm-2 control-label">Address</label>
    <div class="col-sm-10">
      <input ng-model='address' type="text" class="form-control" id="dob" placeholder="Address">
    </div>
  </div>
  <div class="form-group">
    <label for="zip" class="col-sm-2 control-label">Zip</label>
    <div class="col-sm-10">
      <input ng-model='zip' type="text" class="form-control" id="dob" placeholder="Zip">
    </div>
  </div>
</div>
  <div class="form-group">
    <div class="col-sm-offset-5 col-sm-12">
      <button type="submit" class="btn btn-default" ng-click="submit()">Sign in</button>
    </div>
  </div>
</form>