<!DOCTYPE HTML>
<html ng-app="pushtorent">
<head>
	<title>Push To Rent</title>
	<link rel="stylesheet" type="text/css" href="bootswatch-dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css"/>
	<link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"></button>
				<a class="navbar-brand" href="#/home"> <i class="fa fa-hospital-o"></i>
					Push To Rent
				</a>
			</div>
		</div>
	</nav>
	<div class="container" ng-view ></div>

	<script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="angular/angular.min.js"></script>
	<script type="text/javascript" src="angular-route/angular-route.min.js"></script>

	<!-- build:template
	<% if (typeof scripts !== 'undefined') _.each(scripts, function(script){ %>
	<script type="text/javascript" src="<%= script%>"></script>
	<% }); %>
	/build -->
	<!-- -->
</body>
</html>